<section id="results-page">
  <p id="results-filters"></p>
  <section id="results-container">

    {{#each parks }}
    <div class="park-card">
      <div class="park-image park-image-div" style="background-image: url({{images.[0].url}})">
      </div>
      <div>
        <h4 class="park-name">{{fullName}}</h4>
        <p class="park-states">{{states}}</p>
        <p class="miles-away">{40} miles away</p>
        <p class="saved">Saved</p>
      </div>
      <hr class="park-horizontal-row">
      <div>
        <p class="park-description">{{description}}</p>
        <a class="park-modal" href="">View details</a>
        <a class="park-website" href="{{url}}">Website</a>
      </div>
    </div>
    {{/each}}
  </section>
</section>