<section id="results-page">
  <p id="results-filters"></p>
  <section id="results-container">

    {{#each parks }}
    <div class="park-card">
      <div class="park-image park-image-div" style="background-image: url({{images.[0].url}})">
      </div>
      <div>
        <h4 class="park-name">{{fullName}}</h4>
        <p class="park-states">{{states}}</p>
        <p class="miles-away">40 miles away</p>
        <p class="saved">Saved</p>
      </div>
      <hr class="park-horizontal-row">
      <div class="park-description-div">
        <p class="park-description">{{description}}</p>
        <span class="park-modal park-modal-link" data-park-code="{{parkCode}}" >View details</span>
        <a class="park-website" href="{{url}}">Website</a>
        <img class="external-link-icon" src="assets/icons/open-iconic/svg/external-link.svg" alt="external link icon">
      </div>
    </div>
    {{/each}}
    <div id="modal-container">
      {{#each parks as |park| }}
      <div id="{{parkCode}}-modal" class="park-result-modal" style="display: none">
        {{> modal park}}
      </div> 
      {{/each}}
    </div>

  </section>
</section>


<script src="/assets/js/modal.js"></script>